*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul{list-style: none;}
ul,ol{list-style: none;}

/* common */

html{
    font-size:12px;
    font-family: 'Noto Sans KR', sans-serif;
}

/*-------------- layout */
.all{
    width:920px;
    margin:0 auto;
    margin-bottom:50px;
}
footer{
    background: #F0F0F0;
}

.innerfooter{
    margin:0 auto;
    width:920px;
}

/*-------------- header */

header{
    
    display:flex;
    justify-content:space-between; 
}

.lnb{
    display:flex;  
    justify-content: flex-end;
    margin-bottom:30px;
}
.gnb{
    display:flex;
}

.lnb>li{
   
    background:#333; color:#fff;
    font-size:0.9rem;
    padding:2px 8px;
}
.lnb>li:first-of-type{
    padding-left:16px;
}
.lnb>li:last-of-type{   
    padding-right:16px;
}

.gnb>li{
    font-weight: bold;
    font-size:1.2rem;
    padding:10px 16px;
}

/* --------main */

.contents{
    display:flex;
    justify-content: space-between;
}

.contents>section{
    width:calc((100% - 40px)/3);
}

.contents>section>h3{
    padding-bottom:3px;
    margin-bottom:14px;
    border-bottom:1px solid #333;
    display:flex;
    justify-content:space-between;
} 
                /* ㄴ or
                .btnmore{
                float:right;
                }
                /*  */

.noticelist>li{
    margin-bottom:3px;
}

.noticelist>li:last-of-type{
    margin-bottom:0;
}
.noticelist>li>a{
    display:block;
}

.noticelist>li>a>b{
    float:right;
}

.quicklist{
    display:flex;
    justify-content: space-between;
}

/* ------------footer  */

.blue{
    color:rgb(19, 174, 185);
}

.innerfooter{
    display:flex;
    padding:20px 0;
    color:rgb(126, 125, 125);
    justify-content: space-between;
}

.f_left{
}
.footmenu{
    display:flex;
    margin-bottom:10px;
}
.footmenu>li{
    margin-right: 20px;
}
.footmenu>li:last-of-type{
    margin-right:0px;
}
