*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul{list-style: none;}
ul,ol{list-style: none;}


/*  */
html{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container{
    margin:0 auto;
    position: relative;
    z-index: 1000;
    /* z인덱스는 형제끼리 비교하는 것이 원칙 */
}

/* 상단메뉴 */
.top{
    height:222px;
    width:100%;
    margin:0 auto;
    background:#E4C486;
}

.rightmenu>ul{
    padding-right:12px;
    padding-top:12px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}
.rightmenu img{
    height:25px;
}

#lang{
    width:80px;
    height:36px;
    background: transparent;
    background:url("../img/korea.svg")20% 50% no-repeat;
    background-size: 30px auto;
}

.rightmenu>ul>li:nth-of-type(1){
    margin-right:10px;
}


.logoarea img{
    width: 200px;
}

.logoarea{
    padding-top:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mainmenu{
    border-bottom:1px solid #fff;
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

header{
    margin:0 auto;
    width:100%;
    height: 222px;
    /* overflow: hidden; */
}

.firmainmenu>li>a{
    font-family: "bmjua";
    font-size:30px;
    color:#fff;
}

.firmainmenu>li>a:hover{
    color:#B66F27;
} 

.firmainmenu{
    display:flex;
    height:100px;
    width:1400px;
    justify-content: space-between;

}


.firmainmenu>li{
    display:flex;
    width:100%;
    align-items: center;
    text-align: center;
    justify-content:center;
    position:relative;
}



.firmainmenu>li>ul{
    transition:all 0.5s ease 0s;
    overflow:hidden;
    background:#fff;
    position:absolute;
    left:0;top:100px;
    width:100%;
    height:0px;
     /* 보이게 하고 싶으면 높이 줄 것  */
    z-index: 100;
}

.firmainmenu>li:hover>ul.firmain1{
    height:180px;
}

.firmainmenu>li:hover>ul.firmain2{
    height:140px;
}

.firmainmenu>li:hover>ul.firmain3{
    height:100px;
}


.firmainmenu>li>ul>li{
    color:#999;
    margin-top:18px;
    margin-bottom:18px;
    font-size:0.9rem;
}


.firmainmenu>li>ul li:hover{
    color:#000;

}


/* 메인  */

/* 상단 banner */

.topbanner{
    margin:0 auto;
    width:100%;
    height:100%;
    background:url("../img/firstbanner.png") no-repeat 50% 50%;
    background-size:cover;
    position: relative;
}
.firstbanner{
    padding-top:30px;
    padding-bottom:30px;
    height:1000px;
    width:100%;
}



.firstbanner h1{
    border-bottom:1px solid #fff;
    padding:45px 30px 0px 15px;
    font-family: 'Inter', sans-serif;
    font-size:12.5rem;
    color:#fff;
    font-weight:bold;    
}
.firstbanner>h1:nth-of-type(2){
    color:transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight:bold;
}

.firstbanner>h1:nth-of-type(3){
    padding-right:100px;
}


.bannerh1{
    position: relative;
    display:flex;
    justify-content: space-between;
}

.firstbanner>img{
    /* background-size:cover; */
    left:36.8%;
    width:496px;
    bottom:0;
    position: absolute;
}

.topbanner2{
    margin:0 auto;
    width:100%;
    height:100%;
    background:#EAF4FE;
    background-size:cover;
}

.secbanner{
    margin:0 auto;
    width:1400px;
    height:1165px;
    padding-top:145px;
    position: relative;
}

.secbanner>h1{
    display:flex;
    align-items: center;
    text-align: center;
    height:120px;
    font-size: 8rem;
    position: relative;
    z-index: 1000;
    /* position이 있어야 인덱스 가능 */
}
.secbanner>h1:nth-of-type(1){
    margin-left:90px;
}
.secbanner>h1:nth-of-type(2){
    margin-left:211px;
}
.secbanner>h1:nth-of-type(3){
    margin-left:341px;
}
.secbanner>h1:nth-of-type(4){
    margin-left:506px;
}

.banner2p{
    display:flex;
    justify-content: flex-end;
}
.banner2p>p{
    margin-top:40px;
}
.banner2p>p:nth-of-type(1){
    margin-right:5px
}
.banner2p>p:nth-of-type(2){
    margin-right:120px;
}

.secbanner>img{
    position: absolute;
    bottom:23%;
}

.brown{
    color:#B66F27;
}

.brownborder{
    color:transparent;
    -webkit-text-stroke: 1px #B66F27;
}

.allbox{
    position: absolute;
    top:0;
    width:100%;
    display:flex;

}

.box{
    width:466px;
    height:1300px;
    border-right:1px solid #E4C486;
}

.allbox:nth-of-type(1){
    border-left:1px solid #E4C486;
}

/* 홈화면 메인컨텐츠 */
main{
    position: relative;
    width:100%;
}
.mainicecon{
    
    width:100%;
    background: #F4F1ED;
    height:5000px;
    margin:0 auto;
    position:relative;
}   
.topbanner3 {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.topbanner3 > img{
    width:100%;
    object-fit: contain;
}



/* 아이스크림이동 */
.htitlestyle{
    display:flex;
    justify-content: center;
    text-align:center;
    font-family: "bmjua";
    color:232323;
    display:flex;
    justify-content: center;
    text-align:center;
    font-size: 50px;
    margin-bottom:120px;
}

.htitlestyle:before{
    display:inline-block;
    width:50px;
    height:50px;
    content:"";
    background:url("../img/lineleft.svg") no-repeat 50% 50%;
    margin-right:12px;
}
.htitlestyle:after{
    display:inline-block;
    content:"";
    width:50px;
    height:50px;
    background:url("../img/lineright.svg") no-repeat 50% 50%;
    margin-left:12px;

}
.icecon1{
    width:1400px;
    height: 2775px;
    margin:0 auto;
}

.iceproduce{
    width:1400px;
    height:1927px;
    margin:0 auto;
    padding-top:350px;
}

.iceproul{
    width:1400px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;

}
.iceproul>li{

}


.font32{
    font-family: "yeongnam";
    font-size:26px;
    color:#563F35;
}

.iceproli1{
    text-align:center;
}

.iceproli1{
    position: relative;
    width:100%;
    flex-wrap:nowrap;
    padding-top:50px;
}

.iceproul>li>h1{
    position: absolute;
    font-size:72px;
    color:#EFB718;
    font-family: "bmjua";
    top:0%;
    left:45%;
}

.iceproli1 p{
    position:absolute;
    text-align:left;
    top:42%;
    right:11.4%;
}

.sutrapt{
    height:46px;
    position: absolute;
    top:30%;
    right:15.5%;
}

.iceproli2{
    position:relative;
    width:50%;
    flex:1;
    flex-wrap:nowrap;
}

.iceproli2 section{ 
    box-shadow: rgba(0, 0, 0, 30%) 6px 10px 8px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:500px;
    height:140px;
    background:#fff;

    margin-left:40px;
    margin-top:-200px;
}

.iceproli2 p{
    text-align:left;
    margin-right:15px;   
}

.chocopt{
    position:absolute;
    width:286px;
    top: 22.5%;
    left:45.5%;
}

/* 세번째  */
.iceproli3{
    margin-top:260px;
    flex-wrap:nowrap;
    width:50%;
    flex:1;
    text-align:right;
    position: relative;
}

.iceproli3 section{ 
    box-shadow: rgba(0, 0, 0, 30%) 6px 10px 8px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:500px;
    height:140px;
    background:#fff;

    margin-left:170px;
    margin-top:-200px;
}

.iceproli3 p{
    text-align:left;
    margin-right:244px;
}

.chunkypt{
    top: 51%;
    left: 17%;
    position:absolute;
    width:286px;
}
.iceproimg{
    width:385px;
}

.iceproli4{
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:680px;
}

.fingerpoint{
    position: absolute;
    height:111px;
    top:24%;
    animation: motion 0.3s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
}
  @keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 10px;} /* 마지막 위치*/
}

.iceproli4>a{
   
}
.more{
    height:183px;
    /* margin-top: -14%; */
}


/* 매장 배달이동 */
.stdecon{
    width:1400px;
}

.astore h1{
    margin-top: 115px;
    background:#fff;
    border-radius:20px;
    padding:10px 57px;
    font-family: "bmjua";
    font-size: 48px;
}

.adelivery h1{
    margin-top: 115px;
    background:#fff;
    border-radius:20px;
    padding:10px 57px;
    font-family: "bmjua";
    font-size: 48px;
}

.stdecon p{
    margin-top:10px;
    font-family: "paybook";
    font-size: 20px;
    color: #6DA2B2;
}

.stdecon>ul{
    border:3px solid #E2C282;
    display:flex;
}

.astore{
    background:url("../img/astore.svg") no-repeat 50% 50%;
    background-size:cover;
    width:700px;
    height:493px;
    box-sizing: border-box;
}

.stdecon section>a{
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.search{
    display:flex;
    justify-content: center;
    align-items: center;
}
.search:after{
    
    display:inline-block;
    content: "";
    width: 40px;
    height:40px;
    margin-left:10px;
    background:url("../img/searchblue.svg") no-repeat 50% 50%;
}
.adelivery{
    background:url("../img/adeli.svg") no-repeat 50% 50%;
    background-size:cover;
    width:700px;
    height:493px;
    box-sizing: border-box;
}
.adelivery h1{
    background:#CAECFC;
}

.topbtn{
    width:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:999;
}

.fbanner1{
    margin:0 auto;
    width:100%;
    height:604px;
    background:#EAE4DF;
    margin-top:600px;
    position: relative;
}

.fbanner1>section{
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    position: absolute;
    left:0;
    top:-20%;
}

.fbanner1>section>h1{
    font-family: "sourcesans";
    color:#563F35;
    font-size:23.5rem;
    font-weight:650;
    margin-right:20px;
    display:flex;
    align-items: center;
    text-align: center;
    height:270px;
}

.fbanner1>section>h1:nth-of-type(1){
    color:transparent;
    -webkit-text-stroke: 1px #000;
}

.fbanner1>section>h1:nth-of-type(4){
    color:transparent;
    -webkit-text-stroke: 1px #000;
} 

.fbanner1>section>h1:nth-of-type(2){
    width:300px;
}

.icewithpt1{
    width:360px;
    margin-right:20px;
    object-fit: cover;
    margin-top: 14px;
}
.icewithpt2{
    height:220px;
    margin-top:25px;
    object-fit: cover;
}

.fbanner2{
    width:100%;
    height:1018px;
    display:flex;
    justify-content: center;
    align-items: center;
}


footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: "paybook";
    font-size:1.5rem;
    font-weight:bold;
    width:100%;
    height:180px;
    background:#EADCBB;
}

.fleft>ul{
    display:flex;
    padding-left:70px;
}
.fleft>ul>li{
    margin-right:70px;
}

.fright>ul{
    display:flex;
    padding-right:70px;
}

.fright>ul>li{
    margin-left:20px;
}
.fright img{
    width:45px;
}
/* 컨텐츠 이름 안에  또아리 모양은 가상태그 befor after를 만들어서 백그라운드 이미지를 줄것 */


/* ================서브페이지1 - 아이스크림 메뉴 ==================== */

.subcontainer{
    margin:0 auto;
    z-index: 1000;
}

.sub1top{
    width:100%;
    height:222px;
    margin:0 auto;
    background:#8CCFF9;
}

.sub1header{

    margin:0 auto;
    width:100%;
    height:222px;
}



/* 메뉴단 스타일 */
.mainmenu{
    border-bottom:1px solid #fff;
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    


.firmainmenu.subfir>li>a:hover{
    color:#38b7f7;
} 