*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul{list-style: none;}
ul,ol{list-style: none;}


/*  */
html{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container{
    margin:0 auto;
}

/* 상단 */
.top{
    margin:0 auto;
    background:#E4C486;
}

header{
    margin:0 auto;
    width:1400px;
}
.rightmenu img{
    height:25px;
}

.logoarea img{
    width: 200px;
}

.bar{
    background:#fff;
    height:14px;
}

/* 메인  */

/* 상단 banner */

.topbanner{
    width:100%;
    height:100%;
    background:url("../img/firstbanner.png") no-repeat 50% 50%;
    background-size:cover;
}
.firstbanner{
    width:1400px;
    height:1374px;
    margin:0 auto;
}

main{
    position: relative;
    border:1px solid green;
    width:100%;
}

.topbanner2{
    width:100%;
    height:100%;
    background:url("../img/secbanner.jpg") no-repeat 50% 50%;
    background-size:cover;
}

.secbanner{
    width:1440px;
    height:1165px;
}

.topbanner3{
    border:1px solid red;
    position:absolute;
    top:29%;
    left:0;
    width:100%;
    height:604px;
    background:url("../img/icebanner.png") no-repeat 50% 50%;
    background-size:cover;
}

/* 홈화면 메인컨텐츠 */

.mainicecon{
    background: #F4F1ED;
    height:5165px;
    margin:0 auto;
}   

/* 아이스크림이동 */

.icecon1{
    width:1400px;
    height:5165px;
    margin:0 auto;
    border:1px solid red;
}

.iceproduce{
    width:1400px;
    height:1927px;
    margin:0 auto;
    padding-top:500px;
}

.iceproul{
    border:1px solid blue;
    width:1400px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;

}
.iceproul>li{
    border:1px solid red;
}


.font32{
    font-family: "yeongnam";
    font-size:30px;
    color:#563F35;
}

.iceproli1{
    text-align:center;
}


.iceproul>li:nth-of-type(1){
    position: relative;
    width:100%;
    flex-wrap:nowrap;
    padding-top:50px;
}

.iceproul>li>h1{
    position: absolute;
    font-size:72px;
    color:#EFB718;
    font-family: "bmjua";
    top:0%;
    left:45%;
}
.iceproul>li:nth-of-type(1) p{
    position:absolute;
    text-align:left;
    top:42%;
    right:9%;
}

.sutrapt{
    position: absolute;
    top:27%;
}

.iceproul>li:nth-of-type(2){

    position:relative;
    width:50%;
    flex:1;
    flex-wrap:nowrap;
    
}
.mainchipimg{
    position: absolute;
}
.iceproul>li:nth-of-type(2) section{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:500px;
    height:135px;
    background:#fff;
    margin-left:40px;
    margin-top:180px;
}

.iceproul>li:nth-of-type(2) p{
    text-align:left;
    margin-right:15px;
    
}
.iceproul>li:nth-of-type(3){
    margin-top:260px;
    width:50%;
    flex:1;
    text-align:right;


}



.iceproul img{
    width:350px;
}



/* 매장 배달이동 */
.stdecon{
    width:1400px;
    height:493px;

}


.stdecon>ul{
    border:3px solid #E2C282;
    display:flex;
}

.astore{
    background:url("../img/astore.svg") no-repeat 50% 50%;
    background-size:cover;
    width:700px;
    height:493px;
}

.adelivery{
    background:url("../img/adeli.svg") no-repeat 50% 50%;
    background-size:cover;
    width:700px;
    height:493px;
}



/* 컨텐츠 이름 안에  또아리 모양은 가상태그 befor after를 만들어서 백그라운드 이미지를 줄것 */