@font-face {
    font-family: "old";
    src:url("../font/BASKVILL.TTF");
}

@font-face {
    font-family: "gro";
    src:url("../font/CabinetGrotesk-Variable.ttf");
}

@font-face {
    font-family: "gowun";
    src:url("../font/GowunDodum-Regular.ttf");
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "hol";
    src:url("../font/Holista/Demo.ttf");
}

@font-face {
    font-family: "como";
    src:url("../font/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "comob";
    src:url("../font/CormorantGaramond-Bold.ttf");
}

