*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}

html{
    font-family: 'Noto Sans KR', sans-serif;
    color:#1E1E1E;
}

body{
    position: relative;
}

.container{
    position: relative;
    margin:0 auto;
}

.intro{
    background:#F2F6F7;
    width:100%;
    height:80vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.intro h1{
    font-family: "old";
    font-size:10rem;
    line-height: 168px;
    text-align: center;
    margin-bottom:48px;
}

.lpbg{
    background:#F2F6F7;
    width:250px;
    height:250px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    bottom: -16%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

}
.intro img{
    width:220px;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
    
}

.intro p{
    font-family: "gro";
    text-align: center;
    font-size:1.5rem;
    line-height: 38px;
    margin-bottom:54px;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

/* videopart */

.videopart{
    width:100%;
    height:100vh;
    position: relative;
}

.videopart video{
    width:100%;
    height:100vh;
    object-fit: cover;
}

.videopart h1{
    color:#fff;
    position: absolute;
    font-family: "old";
    font-size:4.2rem;
    top:50%;
    left:50%;
    opacity: 0;
    transition: all 0.8s ease 0.5s;
    transform: translate(-50%,-50%);
}

.videopart h1.on{
    opacity:1;
}


/* aboutme */

.aboutme{
    width:100%;
    height:100vh;
}

.aboutme>h1{
    box-sizing: border-box;
    font-family:"old";
    font-size: 4.7rem;
    width:1000px;
    line-height: 72px;
    padding-top:50px;
    padding-left:50px;
    text-transform: uppercase;
}
.aboutp1{
    width:900px;
    margin-top:20px;
    margin-left:50px;

    font-size: 1.3rem;
}

.aboutp2{
    margin-left:50px;
    width:900px;
    color:#5E8597;
    font-size:2.3rem;
    font-family: 'InkLipquid';
}

.aboutcon{
    margin-top:50px;
    margin-left:50px;
    width: 95vw;
}

.aboutcon ul{
    display:flex;
}

.aboutcon h2{
    width:160px;
    height:40px;
    background:#5E8597;
    
    margin-bottom:20px;
    text-align: center;
    line-height: 40px;
    font-size:1.2rem;
    color:#fff;
}

.aboutcon p{

    font-size:1.2rem;
    
    
}

.aboutcon section{
    margin-bottom:17px;

}

.line{
    display: block;
    width:50px;
    background:#5E8597;
    height:1px;
    margin:15px 15px 20px 0;
}
.aboutconul li{
    flex:1;
}

.colorp{
    color:#5A5B5B;
}

.aboutfoot{
    width:200px;
    float:right;
}

.aboutfoot:after{
    clear:both;
}

/* program */
.Left>div{
    display:flex;
}
.Left section{
    margin-right: 52px;
    margin-left: 20px;
}
.circle1{

    width:10px;
    height:10px;
    background:#5E8597;
    border-radius:50%;
}
.circle2{
    width:10px;
    height:10px;
    background:#A3C7D1;
    border-radius:50%;
}
.program{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background:#F4F4F4;
}

.program h1{
    font-family: "old";
    font-size:6rem;
    text-align: center;
    padding-top: 20px;
    width:600px;
    border-bottom:1px solid #869A9E;
    margin-bottom:15px;
}

.program>p{
    font-size:1.3rem;
    margin-bottom:100px;
}

.programgraph{
    width:1000px;
}
.programgraph h2{
    font-family: "old";
    color:#5A5B5B;
    font-size:3rem;
    width:240px;
}
.programgraph>li{
    display:flex;
    margin-bottom:40px;

}

.Right>ul{
    width:0;
    opacity: 0;
    transition: all 1s ease 0.5s;
    display:flex;
    flex-direction: column;
}

.Right>ul.on{
   width:700px;
   opacity: 1;
}

.Right>ul>li{
    display: flex;
    align-items: center;
}

.Right li p{
    font-family: "old";
    font-size:1.8rem;
}

.Right>ul section{
    margin-right:10px;
}

.borderbar1{
    background:#5E8597;
    height:15px;
}

.borderbar2{
    background:#A3C7D1;
    height:15px;
}

.graph1 .Right li:nth-of-type(1) section{
    width:550px;
}

.graph1 .Right li:nth-of-type(2) section{
    width:450px;
}

.graph2 .Right li:nth-of-type(1) section{
    width:550px;
}

.graph3 .Right li:nth-of-type(1) section{
    width:520px;
}

.graph4 .Right li:nth-of-type(1) section{
    width:200px;
}


.graph5 .Right li:nth-of-type(1) section{
    width:250px;
}

.mydesign{
    width:100%;
    height:100vh;

    background: url("../img/mydesignbg.jpg") 50% 50% no-repeat;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.naviflower svg{
    width:80px;
}

.mydept{
    width:800px;
    height:400px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.naviflower{
    width:150px;
    position: absolute;
    right: -3%;
    top: 19%;
    right: 0px;
    display:flex;
    justify-content: center;
    z-index:100;
    opacity: 0;
    transition: all 0.5s ease 0.1s;
}
/* 
#flowerpath{
    fill: transparent;
    stroke: #68828c;
} */

.naviflower.on{
    opacity:1;
    position: fixed;
}

.naviflower h2{
    padding:5px;
    position: absolute;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    z-index:10;
    /* background:rgba(255,255,255,0.1); */
    border-radius: 50%;
}

.navi1{
    top: 91px;
    left: 34px;
}


.navi2{
    top: 154px;
    right: 25px;
}

.navi3 {
    top: 234px;
    left: 47px;
}

.navi4 {
    top: 300px;
    right: 12px
}

.naviflower h2:hover{
    color:#fff;
    background:#5e8597;
    border-radius: 50%;
}

.navibg{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:100%;
    background:rgba(255, 255, 255,0.4);
    border-radius: 50px;

}

.popupdesign{
    width:100%;
    height:100vh;
    background:url("../img/popupbg.png") 50% 50% no-repeat;
    object-fit: cover; 
    display:flex;
    align-items: center;
    
}

.popupdesign>section{
    width:500px;
    height:500px;
    margin-left:100px;
}
.popupdesign h1{
    width:500px;
    line-height:113px;
    letter-spacing: 3px;
    border-bottom:1px solid black;
    height:255px;
    font-family:"old";
    font-size:8rem;
}

.size{
    font-weight:bold;
    font-size:1.7rem;
    margin-top:15px;
    margin-bottom:30px;
}

.pp{
    font-size:1.3rem;
}

/* popup */

.popupcontents{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #F9F9F9;
    width:100%;
    height:100vh;
}

.popupmove{
    z-index:100;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.popupmove>ul{
    z-index:5;
    position: relative;
    margin-top:50px;
    width:1200px;
    height:5px;
    background:#b7d7e2;
}

.popupmove>ul>li {
    cursor: pointer;
    width: 30px;
    position: absolute;
    width:150px;
    height:90px;
    top:-14px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.popupmove li section{
    width:30px;
    height:30px;
    border-radius:50%;
    background: #ABD0D8;
    transition: all 0.5s ease 0s;
    margin-bottom:15px;
}

.popupmove>ul>li p{
    color:rgb(111, 164, 179);
}

.popupmove li.on>section{
    background:#7E9DA8;
}

.popupmove li.on>p{
    color:#4f717e;
}

.popupmove>ul>li:nth-of-type(2){
    left:150px;
}

.popupmove>ul>li:nth-of-type(3){
    left:300px;
}
.popupmove>ul>li:nth-of-type(4){
    left:450px;
}
.popupmove>ul>li:nth-of-type(5){
    left:600px;
}
.popupmove>ul>li:nth-of-type(6){
    left:750px;
}
.popupmove>ul>li:nth-of-type(7){
    left:900px;
}
.popupmove>ul>li:nth-of-type(8){
    left:1050px;
}

.frame{
    background:#fff;
    width:600px;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.popstation{
    width:100%;
    height:100vh;
    overflow:hidden;
}

.poptrain{
    display:flex;
    transition: all 0.5s ease 0s;
    /* width:800%; */
    height:100vh;
    width:800%;
}
.poptrain>li{
    width:100%;
    height:100%;

}
.poptrain>li>section{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
}

.popL{
    display:flex;
    margin-left:300px;
    margin-right:150px;
}

.popR>h1{
    font-weight:bold;
    font-size:2.5rem;
    margin-bottom:50px;
}

.popR>p{
    font-size:1.4rem;
    margin-bottom:100px;
}


.popR>h2{
    font-weight:bold;
    font-size:2rem;
    margin-bottom:30px;
}

.popR img{
    margin-right:10px;
    margin-bottom:10px;
}

.detailre{
    position: relative;
}

.detail{
    top: -10px;
    right: -18%;
    position: absolute;
    width:100px;
    height:100px;
    margin-left:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 200; */
}

.popstation section.detail>h2{
    font-size:1.2rem;
    color:#1D415F;
    margin-bottom:5px;
}
.popstation section.detail>h3{
    color:#fff;
    font-weight: 100;
    letter-spacing: 2px;
    font-size:1.2rem;
    background:#1D415F;
    width:90px;
    height:40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}

/* .black{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    opacity: 0;
    transition: all 0.5s ease 0s;
    z-index:1500;
    pointer-events: none;
} */
/* .black.on{
    opacity: 1;
    pointer-events: auto;
} */
.blackdiv{
    z-index: 500;
    position: absolute;
    top: 36.268%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0;
    pointer-events: none;
}

.blackdiv.on{
    opacity:0.5;
}

.bookpopdetail{
    background:url("../img/detailbg.jpg") 50% 50% no-repeat;
    width:1450px;
    height:800px;
    position: absolute;
    top: 39.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display:none; */
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease 0s;
    z-index:600;
    pointer-events: none;
}

.bookpopdetail.on{
    opacity: 1;
    pointer-events: auto;
}
/* .modal{
    transition:all 0.5s ease 0s;
    display:none;
    z-index:1000;
    top:0;
    position: absolute;
    width:100%;
    height:100vh;
    background:#000;
    opacity: 0.5;
    pointer-events: none;
} */

.modal.on{
    display:block;
}

.bookpopdetail>img:nth-of-type(1){
    margin-right:50px;
}
.dtlocation{
    position: relative;
}

.popclose{
    cursor:pointer;
    width: 50px;
    height: 50px;
    top: 3%;
    right: 4%;
    position: absolute;
}

.popcontroler{
    width:1350px;
    position: absolute;
    top:22px;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.popcontroler img{
    width:40px;
    cursor:pointer;
}


/* banner 컨텐츠 */


.bannercontents{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100vh;
    background: url("../img/bannerfirst.jpg") 50% 50% no-repeat;
}

.bannertitle{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    width:1400px;
    line-height: 158px;
    margin-bottom:425px;
}

.bannertitle>h1{
    font-size:10.5rem;
    font-family: "old";
    width:100%;
    color:#CCDBE7;
}

.h1right>b{
    display:flex;
    justify-content: right;
    color:#457282;
}

.bannerp{
    width:1367px;
    color:#205775;
    text-align: center;
    font-size:1.4rem;
}
.bannerp>p.pright{
    display:flex;
    justify-content: right;
    color:#fff;
    font-size:1.2rem;
    margin-bottom:15px;
}

.movingArea{
    height:100vh;
    width: 100%;
    background:url("../img/bacobg.jpg") 50% 50% no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerstation{
    position: relative;
    width:100%;
    height:5000px;
    overflow: hidden;
    
}

.bannertrain{
    display:flex;
    width:400%;
    height:100vh;
    transition: all 0.5s ease 0s ;
}

.bannertrain>li{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bannerlo{
    width: 1400px;
    margin-top: 220px;
}
.bannerlo>img{
    width:1400px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.bannavi{
    position: absolute;
    left: 13.2%;
    top:  27.3%;
    cursor: pointer;
    z-index:200;
}


.bannavi>ul{
    display:flex;
}

.bannavi li{    
    cursor: pointer;
    display:flex;
    align-items: center;
    margin-right:25px;
}

.bannavi li h1{
    color:#9e9d9d;
}

.bannavi div{
    width:40px;
    height:10px;
    background:#9e9d9d;
    margin-right:10px;

}

.bannavi li.on div{
    background:#3B3C3D;
}

.bannavi li.on h1{
    color:#3B3C3D;
}
.bannerex{
    width:1400px;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}

.bannerex>h1{
    text-align: right;
    font-size:1.6rem;
    font-weight:bold;
    margin-bottom:20px;
    padding-top:10px;
}
.bannerex section{
    display:flex;
    justify-content: space-between;
}


.bannerex p{
    font-size:1.3rem;
    padding:25px;
    background:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.bh1>h1{
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:20px;
}

.bh1 img{
    margin-right:10px;
}

.web{
    width:100%;
    height:100vh;
    background:url("../img/web.jpg") 50% 50% no-repeat;
}

.bacontroler{
    display:flex;
    justify-content: space-between;
    position: absolute;
    top: 44%;
    left: 8.5%;
    width: 1570px;
}

.bacontroler img{
    width:50px;
}


/* web */

.web{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.web>h1{
    padding-top:30px ;
    letter-spacing: 3px;
    width:700px;
    font-size:10.5rem;
    line-height: 130px;
    font-family: "old";
    color:#194970;
}

.web>h1>b{
    color:transparent;
    -webkit-text-stroke: 1px #194970;
}

.webdesign{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:100vh;
    background:url("../img/webback.jpg") 50% 50% no-repeat;
}
.webdesign>div.leaf{
    width:60px;
    height:60px;
    position: absolute;
    top: -17px;
    left: 39.5%;
}
.webdesign>div.leaf img{
    width: 60px;
    
}
.webdesign>div{
    padding-top:120px;
    width:1500px;
    display:flex;
    align-items: center;
}

.webdesign>div>section{
    width:50%;
    margin-right:50px;
}

.webdesign>div>section>h1{
    font-size:2.2rem;
    font-weight: bold;
    margin-bottom:30px;
}

.webdesign>div>section>p{
    font-size:1.4rem;
    margin-bottom: 60px;
}

.webdesign>div>section>h2{
    font-family: "como";
    font-size:2.2rem;
    margin-bottom: 20px;
}


.webshow{
    width:600px;
}

.webcolor{
    margin-bottom:50px;
}
.webcolor>img{
    width:80px;
    margin-right:10px;
}

.wfonts img{
   height:20px;
   margin-bottom:12px;
   margin-right:20px;
}


.shortgo{
    margin-top:80px;
    display:flex;
    align-items: center;
}



.shortgo a{
    transition: all 0.5s ease 0s;
    margin-right:80px;
}

.shortgo a:hover{
    color:#1f7ac5;
}


.shortgo a:last-of-type{
    margin-right:0px;
}

.shortgo h3{
    text-align: center;
    font-size:1.5rem;
    position: relative;
}
/* 
.shortgo h3:after{
    position: absolute;
    top: 64px;
    left: 8px;
    content: "";
    display: block;
    width:150px;
    height:20px;
    background: url("../img/underl.svg") 50% 50% no-repeat;
} */


.shortgo>a>h2{
    font-size:2.3rem;
    text-align: center;
    font-family: 'InkLipquid';
    position: relative;
}

.shortgo h2:after{
    position: absolute;
    top: 49px;
    left: -66px;
    content: "";
    display: block;
    width: 218px;
    height: 80px;
    background: url(../img/leaves.svg) 50% 50% no-repeat;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:100vh;
    background: url("../img/contactbg.jpg") 50% 50% no-repeat;
}

.ment{
    font-family: "gowun";
    text-align: center;
    color:#fff;
    font-size:1.8rem;
    padding-top:80px;
    margin-bottom:90px;
}

.contact>h1{
    font-size:10rem;
    font-weight:700;
    font-family: "comob";
    color:#fff;
}

.contact section{
    margin-top:-75px;
    width:700px;
    height:350px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #fff;

    display:flex;
    align-items: center;
    justify-content: center;
}
.contact section p{
    margin-top:-15px;
    line-height: 70px;
    text-align: center;
    font-size:2rem;
    color:#fff;
}

/* report */

/* .fixedre{
    width:1500px;
    height:100vh;
    background: url("../img/fixedframe.png") 50% 50% no-repeat;
} */

.webdesign>.benport {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    /* transform: translate(-50%,-50%); */
    width: 100%;
    height: 100%;
    background: url(../img/fixedframereal2.jpg) 50% 50% no-repeat;
    padding-top: 0;
    justify-content: center;
    align-items: center;
}
.benport.on{
    display:flex;
}

.masking{
    position: absolute;
    top: -4px;
    left: 376px;
}

.report {
    position: relative;
    /* margin-left: 183px; */
    /* margin-top: -12px; */
    width: 1500px;
    height: 816px;
    overflow-x: hidden;
    overflow-y: auto;
}

.report img{
    width:100%;
}

.benport img.masking{
    position: absolute;
    top: 74px;
    left: 620px;
    width: 677px;
}

.Exit{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2%;
    right: 12%;
    cursor: pointer;
}

.webdesign>div .leaf{
    border:1px solid red;
    width:10px;
    height:10px;
    position:absolute;
    top:0;
    left:0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background:#5E8597;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3a3636;
  }